---
// imports
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
// functions.
export async function getStaticPaths() {
  // get Unique tags from all blog posts.
  const blogPosts = await getCollection('blog');
  const blogTags = [...new Set(blogPosts.map((post:any)=>post.data.tags).flat())];

  return blogTags.map((tag)=> {
    // filter list of posts to only tag related posts.
    const relatedPosts = blogPosts.filter((post: any) => post.data.tags?.includes(tag));
    return {params: {tag}, props: {posts: relatedPosts}};
  });
};
// frontmatter properties.
const { tag } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged w/ {tag}:</p>
  <ol>{
    posts.map((post: any)=>
      <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
    )}
  </ol>
</BaseLayout>